h1{
    display: flex;
    justify-content: center;
    color:rgb(16, 58, 58);
    width:100%;
}

button{
    padding:10px;
    border-radius: 5px;
    border:0px;
    background-color: burlywood;
}

.vertex{
    width:25px;
    height:25px;
    border: 0.5px solid black;
}

.visited{
    width:25px;
    height:25px;
    border: 0.5px solid black;
    background-color: aquamarine;
}

.SPath{
    width:25px;
    height:25px;
    border: 0.5px solid black;
    background-color: yellow;
}

.wall{
    width:25px;
    height:25px;
    border: 0.5px solid black;
    background-color: rgb(14, 29, 29);
}

.weight{
    width:25px;
    height:25px;
    border: 0.5px solid black;
    background-color: rgb(255, 0, 204);
}

.startVertex{
    width:25px;
    height:25px;
    border: 0.5px solid black;
    background-color: red;
}

.endVertex{
    width:25px;
    height:25px;
    border: 0.5px solid black;
    background-color: blue
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#controlBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

#graphContainer{
    display: flex;
    justify-content: center;
}

#speedRange{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


