*{
    font-family: 'Acme', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

#homePageContainer{
    padding-top: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#homePageBanner{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:calc(100vh - 70px);
    animation: fadeInOpacity 2s linear 0s 1;
}

#bannerBackground{
    width:100%;
    height:calc(100vh - 70px);
    position:absolute;
    top:70px;
    right:0;
    /* background: url("https://i.ibb.co/xS5VM63/BG2.gif") no-repeat center; */
    /* background: url("https://i.ibb.co/b1LkvXW/BG3.gif") no-repeat center; */
    /* background: url("https://i.ibb.co/0hpXm9C/BG4.gif") no-repeat center; */
    background: url("./img/BG4.gif") no-repeat center;
    background-size: cover;
    filter: grayscale(1);
    z-index: -1;
    opacity:0.2;
}

#backToTop{
    width:40px;
    height:40px;
    position: fixed;
    bottom:80px;
    right:80px;
    border-radius:20px;
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    z-index: 10;
    background: url("./img/toTopIcon.svg") no-repeat center;
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;
}

#backToTop:hover{
    opacity: 1;
}

#bannerText{
    font-size: 80px;
    padding-bottom:100px;
    font-weight: 500;
    font-variant: normal;
    text-shadow: 5px 5px 5px gray;
    text-align: center;
}

#bannerBtn button{
    font-size: 30px;
    box-shadow: 5px 5px 5px gray;
}

#bannerTurtorialBtn{
    border:2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

#bannerTurtorialBtn:hover{
    border:2px solid black;
    background-color: black;
    color: white;
}

#bannerStartBtn{
    border:2px solid black;
    background-color: black;
    color: white;
}

#bannerStartBtn:hover{
    border:2px solid black;
    background-color: white;
    color: black;
}

#bannerBtn{
    width:400px;
    display: flex;
    justify-content: space-around;
}

#describeContentOne{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gainsboro;
}

#describeContentOne button{
    font-size: 25px;
    cursor: pointer;
}

#describeContentTwo{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#describeContentThree{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gainsboro;
}

#describeContentFour{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#describeContentFive{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gainsboro;
}

#imgIntro{
    width:300px;
    height:300px;
    background: url("./img/BGIntro3.gif") no-repeat center;
    background-size: cover;
}

#imgDFS{
    width:300px;
    height:300px;
    background: url("./img/DFSIMG.gif") no-repeat center;
    background-size: cover;
}

#imgBFS{
    width:300px;
    height:300px;
    background: url("./img/BFSIMG.gif") no-repeat center;
    background-size: cover;
}

#imgDijk{
    width:300px;
    height:300px;
    background: url("./img/DijkIMG.gif") no-repeat center;
    background-size: cover;
}

#imgAstar{
    width:400px;
    height:200px;
    background: url("./img/BGAStar2.gif") no-repeat center;
    background-size: cover;
}

.desDetailDiv{
    width:40%;
}

.desTitle{
    font-size: 40px;
}

.desDetail{
    font-size: 25px;
}



@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes flowUp{
    0%{
        opacity: 0;
        margin-top: 500px;
    }

    100%{
        opacity: 1;
        margin-top: 0px;
    }
}

@media (max-width:770px){
    #bannerText{
        padding-right: 20px;
        padding-left: 20px;
    }

    #bannerBtn{
        width:100%;
    }

    #describeContentOne{
        height:100vh;
        flex-direction: column;
    }

    #describeContentOne button{
        font-size: 15px;
    }
    
    #describeContentTwo{
        flex-direction: column;
    }
    
    #describeContentThree{
        flex-direction: column;
    }
    
    #describeContentFour{
        flex-direction: column;
    }
    
    #describeContentFive{
        flex-direction: column;
    }
    .desTitle{
        font-size: 25px;
    }

    .desDetailDiv{
        width:90%;
        height:40%;
        order:1;
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .desDetail{
        font-size: 20px;
    }

    #imgIntro{
        order:2;
    }

    #imgDFS{
        order:2;
    }
    
    #imgBFS{
        order:2;
    }
    
    #imgDijk{
        order:2;
    }
    
    #imgAstar{
        order:2;
        width:90%;
    }

    #backToTop{
        bottom:50px;
        right:50px;
    }
}

@media (max-width:500px){
    #bannerText{
        font-size: 60px;
    }
    #describeContentOne button{
        margin:5px;
    }
}