body{
    margin:0;
}

#navBarContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:70px;
    background-color: white;
    color:#0E1D1D;
    position:fixed;
    opacity: 1;
    z-index: 10;
}

#navIcon{
    width:45px;
}

#navIconLink{
    display: flex;
    align-items: center;
}

#navLogo{
    padding-left: 60px;
    font-size: 30px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

#navLogoText{
    align-items: center;
}

#navIcon:hover{
    animation: SpinLogo 0.5s linear 0s 1;
}

#navBtn{
    padding-right: 60px;
    width:10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#navGitHub{
    width:30px;
    height:30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#navGitHub img{
    width:30px;
    height:30px;
}

#navAbout{
    width:30px;
    height:30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#navAbout img{
    width:30px;
    height:30px;
}

@keyframes SpinLogo {
	0% {
        transform-origin: center center;
		transform: rotate(0deg);
	}
	100% {
        transform-origin: center center;
		transform: rotate(360deg);
	}
}

@media (max-width:770px){
    #navBtn{
        width:20%;     
    }

    #navLogoText{
        display:none;
    }
}